/* Fonts */
@font-face {
  font-family: 'pricedow';
  src: url("../fonts/pricedow.woff") format('woff'),
  url("../fonts/pricedow.woff2") format('woff2');
}

@font-face {
  font-family: 'InriaSans';
  src: url("../fonts/InriaSans.woff") format('woff'),
  url("../fonts/InriaSans.woff2") format('woff2');
}
/* Root */
:root{
  --PriceDow: "pricedow";
  --InriaSans: "InriaSans";
}

/* general styling */
*{
  text-decoration: none;
  list-style: none;
}

body{
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}

/* This code is so the body starts under the header and next to the sidebar */
.body{
  margin: 18vh 0 0 15vw;
}

/* this is to have a background picture and darken it */
.bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.bg-GAME{
  background: url(../images/bg-GAME.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -2;
}

.darken{
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

/* Main body */
main img.hero{
  width: 100%;
}

/* Navigation underneath the hero */
main nav{
  width: 100%;
  background-color: black;
  position: relative;
  top: -4px;
  font-family: var(--InriaSans);
}

main nav ul{
  margin: 0;
  padding: 0;
}

main nav ul li{
  padding: 1vh 3vw;
}

main nav ul li a{
  color: white;
  padding: 1vh 3vw;
}

ul li.selected{
  background-color: orange;
}

/* Tutorials */
main article{
  width: 90%;
  margin: 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
