/* Fonts */

/* Root */
:root{
  --black: #000
}

/* general styling */
*{
  text-decoration: none;
  list-style: none;
}

body{
  margin: 0;
  padding: 0;
}

/* this is for index page */
.grid{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(20,minmax(150px,auto));
  
}

